/TODO.md
/target/
**/target/
/build/
**/build/
/dist/
**/dist/
/.venv/
**/.venv/
/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
*.log
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/
.ruff_cache/
**/.ruff_cache/
*.rs.bk
*.egg-info/
/wheels/
**/wheels/
.ipynb_checkpoints/
/temp/
/tests/**/downloads/*

node_modules/
vendor/
npm-debug.log*
yarn-error.log*
